<nav class="navbar">
  <div class="container nav-inner">
    <a routerLink="/" class="logo">
      <div class="logo-icon">
        <img src="logo2.png" class="logo-img">
      </div>
      <span class="logo-text">
        Dev<span class="logo-accent">Folio</span>
      </span>
    </a>

    <ul class="nav-links">
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>

    <div class="nav-actions">
      <button class="btn btn-outline btn-sm" routerLink="/connexion">Connexion</button>
    </div>

  </div>

</nav>